/* styles.css */
html{
  
  background-image: url("kalikha.jpg");
  background-size: 100%;
   background-color: black;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
h1{
  font-size: 60px;
}
header {

  
  margin-top: 10px;
  color: #f0efef;
  text-align: center;
 
  
}
span{
  color: red;
}

main {
  padding: 20px;
}

h1 {
  margin: 0;
}

table {
  color: rgb(230, 227, 227);
  font-weight: bolder;
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  margin: 20px auto;
  padding-bottom: ;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  
  
  font-weight: bold;
}




tr:hover {
  background-color: #6c6c6d;
}

.player-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
 
}




@media (max-width: 900px) {
  html{
    background-color: black;
    background-image: url("kalikha.jpg");
  background-size: 100%;
   
   
  }
  h1{
    font-size: 50px;
  }
  table {
    margin-top: 100px
    font-size: 14px;
    width: 100%;
  }

  th, td {
    padding: 10px 8px;
  }

  .player-img {
    width: 40px;
    height: 40px;
  }



  
}
